.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100%; 
  height: 50px;
  background-color: #101010;
  text-align: center;
  color: #30EDBF;
}
h1{
  color: #30EDBF;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 80px;
  background-color: #101010;
  text-align: center;
  color: aliceblue;
}
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  background-color: #252733;
  color: aliceblue;
  border-width: 1px;
  border-radius: 15px;
  margin: 8px;
}
.post img{
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.titulo{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  /* text-align: center; */
}
.subtitulo{
  margin:20px;
}
.botao{
  height: 40px;
  background: none;
  border-radius: 15px;
  border: 2px solid #a55eea;
  color: #a55eea;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 5px;
  align-items: center;
  transition: all 0.5s;
  margin: 10px;
}
.botao:hover{
  background-color: #a55eea;
  color: aliceblue;
}
.tag{
  margin-left: 20px;
  width: 80px;
  padding: 2px;
  border-radius: 1px solid ;
  background-color: rgb(255, 117, 77);
  color: #252733;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoria{
  background-color: #30EDBF;
}

.card{
  max-width: 600px;
  margin: 20px auto 0;
  padding: 20px 20px;
  background-color: #252733;
  border: #252733  solid 1px;
  border-radius: 10px;
  /* text-align: center; */
  color: #c8d6e5;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(38,38,38,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(38,38,38,1);
  box-shadow: 0px 0px 10 px 3px rgba(38,38,38,1);
}
.card img{
  width: 90%;
  height: 90%;
  border-radius: 15px;
}
.flex {
  display: flex; 
  text-decoration: none;
}
.flex-item-1 {
	flex: 1;
}
a:-webkit-any-link {
    text-decoration: none;
}
.center{
  text-align: center;
}
.column{
  display: flex;
 flex-direction: column;
}
