.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    background-color: #252733;
    color: aliceblue;
    border-width: 1px;
    border-radius: 15px;
    margin: 18px;
  }
.post img{
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}
.subtitulo{
    margin:20px;
}


.tag{
    margin-left: 20px;
    padding: 0 15px 0 15px;
    line-height: 22px;
    border-radius: 1px solid ;
    background-color: #ff754d;
    color: #1f1f1f;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 10px;
}
.categoria{
    background-color: #5dd3c8;
}
.mt{
  margin-top: 40px;
}